@import url('https://googleapis.com');
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
    --font-sans: "MesloLGL Nerd Font", sans-serif;
    
    --text-3xs: 0.5rem;
    --text-3xs--line-height: 0.625rem;
    
    --text-2xs: 0.625rem;
    --text-2xs--line-height: 0.75rem;
}

@layer base {
    /* Mencegah background input berubah menjadi putih saat autofill di browser WebKit (Chrome, Safari, dll) */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
        transition: background-color 0s, box-shadow 0s, color 0s !important;
    }
}
